@model HastaneBilgiSistemi.Data.Model.Medication

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@_localization.Getkey("Medication Details").Value</h1>

<div>
    <h4>@_localization.Getkey("Medication").Value</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">@_localization.Getkey("List").Value</a>
</div>
