@model List<HastaneBilgiSistemi.Data.Model.Reservation>

@{
    ViewData["Title"] = "TURTEP  Hospital | Home Page";
}

<div class="text-center">
    <h4 class="display-5">@_localization.Getkey("welcome").Value</h4>
</div>

<div>
    <a href="/Identity/Account/Manage/Reservation">@_localization.Getkey("New Reservation").Value</a>
</div>


<table class="table" asp-authorize asp-roles="Doctor" placeholder="@_localization.Getkey("Doctor").Value">
    <thead>
        <tr>
            <th>"@_localization.Getkey("Polyclinic").Value"</th>
            <th>placeholder="@_localization.Getkey("Doctor").Value"</th>
            <th>placeholder="@_localization.Getkey("Patient").Value"</th>
            <th>placeholder="@_localization.Getkey("Date").Value"</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Polyclinic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a href="/PatientHistory/Create/?reservationId=@item.Id">Start Examination</a>
            </td>
        </tr>
        }
    </tbody>
</table>
