@model IEnumerable<HastaneBilgiSistemi.Data.Model.Doctor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@_localization.Getkey("Create New").Value</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Polyclinic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Polyclinic.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@_localization.Getkey("Edit").Value</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@_localization.Getkey("Details").Value</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@_localization.Getkey("Delete").Value</a>
            </td>
        </tr>
}
    </tbody>
</table>

@* @section Scripts {
    <script src="~/js/doctor-patient.js"></script>
}

 <!-- ÖrnekRazorGörünümü.cshtml içinde -->
@section Scripts {
    <script>
        $(document).ready(function () {
            // Butona tıklandığında AJAX çağrısını tetikle
            $('#hastalariGoster').click(function () {
                var doktorId = $('#doktorSecim').val(); // Seçilen doktorun ID'sini al
                if (doktorId) {
                    getHastalarByDoktor(doktorId); // AJAX fonksiyonunu çağır
                }
            });
        });
    </script>
}




<h2>Doktor Listesi</h2>

<!-- Doktorları Seçmek için Dropdown Menü -->
<select id="doktorSecim">
    <option value="">Doktor Seçin</option>
    @foreach (var doktor in Model) {
        <option value="@doktor.Id">@doktor.User</option>
    }
</select>

<!-- Hastaları Göstermek için Buton -->
<button id="hastalariGoster">Hastaları Göster</button>

@* Burada hastaların listeleneceği alanı veya tabloyu ekleyebilirsiniz  *@